body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto";
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #1f2937;
}

.nav-bar {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding-left: 5em;
    padding-right: 5em;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    margin: 0;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.hero {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    flex: 1;
    padding: 5em;
    gap: 15px;
}

h1.title {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

.hero p {
    color: #E5E7EB;
}

.hero-button {
    background-color: #3882F6;
    color: #E5E7EB;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 12px;
    border: none;
    font-weight: 700;
}

.hero-image {
    width: 50%;
    height: auto;
}

.information {
    text-align: center;
    padding: 80px;
}

.info-title {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.border {
    border: solid 2px;
    border-color: #3882F6;
    border-radius: 12px;
    width: 200px;
    height: 200px;
}

.information .container {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.card {
    display: flex;
    width: 210px;
    flex-wrap: wrap;
    justify-content: center;
}

.quote {
    padding: 80px;
    text-align: center;
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1f2937;
    font-weight: light;
    font-style: italic;
    padding: 8%;
}

.quote h2 {
    font-size: 36px;
    font-weight: bolder;
    font-style: normal;
    text-align: right;
    margin-right: 5em;
}

.call-to-action {
    display: flex;
    align-items: center;
    justify-content: center;
}
.cta-container {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 12px;
    padding: 25px;
    margin: 100px;
    width: 70%;
    display: flex;
    justify-content: space-between;

}

.cta-text {
    margin-left: 10%;
}

.sign-up {
    color: #E5E7EB;
    background-color: #3882F6;
    border-color: #E5E7EB;
    border-radius: 5px;
    border-style: solid;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 16px;
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10%;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #F9FAF8;
}